{% extends "base.html" %}

<html>

{% block content %}
<body>
<h1>Fending out Pigeon</h1>
<div class="form1">
    <table class="form2">
        <tr>
            <td class="dog1">
                <form action="/set/confidence" method="post">

            <td class="dog2"><input class="full1" name="confidence" type="number" min="0.5" max="1"
                                    step="0.1"
                                    value={{confidence}}>
            </td>
            <td>
                <input type="submit" value="Apply">
            </td>
            </form>
            </td>
        </tr>
        <tr>
            <td class="dog1">
                Second per Frame:
                <form action="set/frame" method="post">

            <td class="dog2"><input class="full1" name="frame" type="number" min="5" max="30"
                                    step="1"
                                    value={{sec_per_frame}}></td>
            <td><input type="submit" value="Apply"></td>

            </form>
            </td>
        </tr>
        <tr>
            <td class="dog1">
                Detect Status :
                {% if status == 'off'%}

            <td class="dog2"><p class="dog5" style="color: red">&nbsp{{status}}&nbsp</p></td>
            {% else %}

            <td class="dog2"><p class="dog5" style="color: green">&nbsp{{status}}&nbsp</p>
            </td>

            {%endif%}


            {% if status == 'off' %}
            <form action="/mode/on" method="post">
                <td><input name="pass" type="submit" value="Turn ON"></td>
            </form>
            {% else %}
            <form action="/mode/off" method="post">
                <td><input name="pass" type="submit" value="Turn OFF"></td>
            </form>
            {%endif%}

            </td>
        </tr>
        <tr>
            <td>
                Elasticsearch Status:
                {% if es_status %}
            <td style="color: green">Connect</td>

            <td>Host: {{es_ip}}</td>
            {% else %}
            <td style="color: red">Disconnect</td>
            {%endif%}
            </td>
        </tr>
    </table>
</div>
<div class="status1">
    <table>
        <tr>
            <td style="text-align: center;">
                <form action="/" method="post">
                    <button style="height:50px; width:50%;" name="snap" type="submit" value="go2snap">Slow Live Now
                    </button>
                </form>

            </td>
            <td style="text-align: center;">
                <form action="{{fullip}}">
                    <button style="height:50px; width:50%;" type="submit" value="Mainpage">Back to Main Web</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</div>

</body>
{% endblock %}
</html>
