{% extends "base.html" %}

<html>
{% block content %}
<body>
<div class="head1">
    <h1  class="head_1">Video Streaming Demonstration</h1>
</div>
<div class="divider" style=" margin: 20px"></div>
 <div class="flex-row" style="justify-content:center;"style="align-text:center;">
    <img src="{{ url_for('video_feed') }}">
</div>
<div class="flex-row" style="justify-content:center;">
    <div class="flex-btm">
        <form  action="/" method="post">
            <button class="btn btn-info bne1 formButtonfront" name="snap" type="submit" value="">
                Back
            </button>
        </form>
    </div>
</div>






<!--<img src={{imgdir}}>-->
</body>
{% endblock %}
</html>
